body {
    font-family: 'Spoqa Han Sans Neo';
    background: #F2F2F2;
    margin: 0;
}

main {
    background: #FFFFFF;
    width: 500px;
    height: 240px;
    padding: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.weniv-logo {
    width: 138px;
    height: 40px;
    margin-bottom: 25px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.btnLogin {
    background: #2F80ED;
    padding: 17px 189px 15px 190px;
    margin-top: 32px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}