body {
    font-family: 'Spoqa Han Sans Neo';
    background: #F2F2F2;
}

main {
    width: 500px;
    height: 240px;
    padding: 30px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
}

.weniv-logo {
    width: 138px;
    height: 40px;
    margin-bottom: 28px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
}

button {
    background: #2F80ED;
    border: none;
    border-radius: 5px;
    padding: 17px 189px 15px 190px;
    margin-top: 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}